body {
  position: relative;
}

.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 40px 0;
  z-index: 1000;
  @include size-780 {
    padding: 32px 0;
  }
  @include size-480 {
    padding: 16px 0;
  }
}

.header__row {
  display: flex;
  align-items: center;
  justify-content: space-between;

  @include size-780 {
    flex-direction: column;
    align-items: stretch;
    row-gap: 24px;
  }
  @include size-480 {
    row-gap: 12px;
  }
}

.logo {
  display: flex;
  align-items: center;
  column-gap: 30px;

  &__link {
    img {
      height: 48px;
    }
  }

  &__border {
    height: 48px;
    width: 2px;
    background-color: rgb(255, 255, 255, 0.3);
    @include size-780 {
      display: none;
    }
  }

  @include size-780 {
    justify-content: space-between;
  }
  @include size-480 {
    justify-content: space-between;
  }
}
.header__info {
  display: flex;
  align-items: center;
  column-gap: 40px;
  @include size-780 {
    justify-content: space-between;
    order: -1;
    padding-bottom: 24px;
    border-bottom: 1px solid rgb(255, 255, 255, 0.3);
  }
  @include size-480 {
    justify-content: space-between;
    padding-bottom: 16px;
  }
}

.header__contacts {
  display: flex;
  align-items: center;
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 125%;
  text-align: center;
  color: #fff;
  column-gap: 40px;

  a {
    display: flex;
    align-items: center;
    column-gap: 7px;
  }
  @include size-480 {
    justify-content: space-between;
    column-gap: 20px;
  }
}

.header__social {
  display: flex;
  align-items: center;
  column-gap: 16px;

  @include size-480 {
    display: none;
  }
}
