.section-statistics {
  width: 100%;
  height: 100%;
  position: relative;
  padding-bottom: 200px;

  .video-bg__content {
    // position: absolute;
    // width: 100%;
    // left: 50%;
    // transform: translateX(-50%);
    // top: 30%;
    row-gap: 20px;

    @include size-780 {
      row-gap: 12px;
    }
  }
}

.statistics__title {
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 600;
  font-size: 44px;
  line-height: 150%;
  text-align: center;
  color: #fff;

  @include size-1440 {
    font-size: 36px;
  }

  @include size-480 {
    font-size: 24px;
  }
}
.statistics__subtitle {
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 600;
  font-size: 24px;
  line-height: 133%;
  color: #fff;
  @include size-480 {
    font-size: 16px;
  }
}
.statistics__grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 24px;

  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 600;
  font-size: 36px;
  line-height: 156%;
  text-align: center;
  color: #fff;

  @include size-780 {
    gap: 12px;
    font-size: 24px;
  }
}
.statistics__graph {
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: space-around;
  align-items: end;
  height: 30%;

  @include size-1080 {
    justify-content: center;
  }
}
.graph__item {
  position: relative;
  //   height: 20%;
  width: 30px;
  background-color: #e4aa73;
  opacity: 0.8;
  border-radius: 5px 5px 0px 0px;
  transition: all 1s ease-out;

  &::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 40px;
    background-color: #e75656;
    border-radius: 5px 5px 0px 0px;
  }
}

.graph__item-text {
  &::after {
    font-family: "IBM Plex Sans", sans-serif;
    font-weight: 700;
    font-size: 12px;
    line-height: 133%;
    text-align: center;
    color: #fff;
    text-align: center;
    position: absolute;
    content: "02.21.24";
    top: -20px;
    left: 50%; /* Центрируем по горизонтали */
    transform: translateX(-50%);

    @include size-1080 {
      content: "";
    }
  }
}
